#-----------------
# Editors
#-----------------
.vscode
.idea

#-----------------
# ignore Gem 
#-----------------
*.gem
.bundle
Gemfile.lock

#-----------------
# Jekyll
#-----------------
.sass-cache
_site