[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
typing-extensions = "*"

[packages]
fireo = {path = ".",editable = true}

[requires]
python_version = "3.7"
